body {
  background-color: darkcyan;
}

img {
  display: block;
  max-width: 75%;
  
}

nav {
  list-style-type: none;
  position: fixed;
  width: 100%;
  background-color: snow;
  top: 0;
  left: 0;
  color: snow;

}

li {
  display: inline;
  padding: 15px;
  float: right;
}

li:hover {
  background-color: azure;
}

a {
  text-decoration: none;
  color: teal;
}

h1{
  text-align: center;
  font-size: 85px;
  color: snow;
  
}
